<div class="show-div">
  <img class="poster" src="{{view.movie.Poster}}" alt="movie poster" />
  <h1 class="indent">{{view.movie.Title}}</h1>
  <h4 class="indent starring">Starring {{view.movie.Actors}}</h4>
  <p class="indent">{{view.movie.Plot}}</p>
  <h3 class="indent">Additional Details</h3>
  <h4 class="indent">Awards</h4>
  <h4 class="indent starring">{{view.movie.Awards}}</h4>
  <h4 class="indent">Country</h4>
  <h4 class="indent starring">{{view.movie.Country}}</h4>
  <h4 class="indent">Director</h4>
  <h4 class="indent starring">{{view.movie.Director}}</h4>
  <h4 class="indent">Year</h4>
  <h4 class="indent starring">{{view.movie.Year}}</h4>
  <h4 class="indent">Genre</h4>
  <h4 class="indent starring">{{view.movie.Genre}}</h4>

</div>
